<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>PhD Candidate in Mechanical Engineering</h1>
            <span>Case Western Reserve University</span>
            <span><address>Cleveland, OH</address><time>2008 to Present</time></span>
        </header>
        <p>
            <em>Dissertation: In progress</em>
        </p>
    </article>
    <article>
        <header>
            <h1>B.S. in Physics, Mathematics, and Statistics</h1>
            <span>Miami University</span>
            <span><address>Oxford, OH</address><time>2001 to 2005</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Outdoor Leadership Certificate</h1>
            <span>National Outdoor Leadership School</span>
            <span><address>Lander, WY</address><time>Fall 2003</time></span>
        </header>
    </article>
</section>
