<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Robotics Engineer</h1>
            <span><address>National Institute of Standards and Technology, Gaithersburg, MD</address><time>Summer 2009</time></span>
        </header>
        <p>Helped set up a multi-acre testing facility, using Ultra Wideband technology, to validate localization methods for autonomous vehicles. </p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>Case Western Reserve University, Cleveland, OH</address><time>2009 to Present</time></span>
        </header>
        <p>Helped prepare lectures, grade, and teach Dynamics, Advanced Dynamics, Fundamentals of Machine Component Design, and Senior Capstone. </p>
    </article>
</section>
