<section class="thirteen columns">
    <h1>Employment</h1>
     <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>Case Western Reserve University, Cleveland, OH</address><time>2009 to 2016</time></span>
        </header>
        <p>Helped prepare lectures, grade, and teach Dynamics, Advanced Dynamics, Fundamentals of Machine Component Design, and Senior Capstone. </p>
    </article>
    <article>
    <article>
        <header>
            <h1>Guest Reseacher</h1>
            <span><address>National Institute of Standards and Technology - Robotics Division, Gaithersburg, MD</address><time>Summer 2009</time></span>
        </header>
        <p>Helped set up a multi-acre testing facility, using Ultra Wideband technology, to validate localization methods for autonomous vehicles. Also, helped administer testing for search and rescue robots to instruct in a local county robot procurement. </p>
    </article>
    <article>
        <header>
            <h1>Drafter/Designer</h1>
            <span><address>Adams, Rehmann & Heggan Associates Inc., Hammonton, NJ</address><time>2006 to 2008</time></span>
        </header>
        <p>Designed site layouts, water management systems, and grading for municipal and private development contracts. I worked closely with civil engineers, surveyors, and planners in a fast paced environment. </p>
    </article>
        <header>
            <h1>Ropes Course Facilitator</h1>
            <span><address>Miami University Outdoor Pursuit Center, Oxford, OH</address><time>2002 to 2005</time></span>
        </header>
        <p>Worked directly with school and corporate groups in an outdoor setting to develop skills necessary for a productive and efficient team. </p>
    </article>
    <article>
        <header>
            <h1>Lab Assistant</h1>
            <span><address>Miami University Physics Department, Oxford, OH</address><time>2002 to 2005</time></span>
        </header>
        <p>Developed testing equipment and control software for magnetics and optics lab. Created thin film test pieces for magnetic testing. </p>
    </article>
</section>
