<head>
    <meta charset="utf-8">
    <title>
      {% if page.title == "Home" %}
        {{ site.title }} &middot; {{ site.tagline }}
      {% else %}
        {{ page.title }} &middot; {{ site.title }}
      {% endif %}
    </title>
    <meta name="description" content="{{ site.name }}'s Résumé">
    <meta name="author" content="{{ site.name }} @{{ site.twitter }}">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{{ site.baseurl }}static/css/base.css">
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/skeleton.css">
    <link rel="stylesheet" href="{{ site.baseurl }}static/css/layout.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{{ site.baseurl }}static/img/favicon.ico">
    <!-- <link rel="apple-touch-icon" sizes="57x57" href="static/img/me-icon-57.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="60x60" href="static/img/me-icon-60.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="72x72" href="static/img/me-icon-72.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="76x76" href="static/img/me-icon-76.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="114x114" href="static/img/me-icon-114.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="120x120" href="static/img/me-icon-120.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="152x152" href="static/img/me-icon-152.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="static/img/me-icon-180.png"> -->
</head>
