<section class="thirteen columns">
    <h1>Research and Projects</h1>
    <article>
        <header>
            <h1>A Deep Learning Approach to Robot Perception and SLAM</h1>
            <span><time>2015 to Present</time></span>
        </header>
        <p>My current research focuses on robust feature extraction from LIDAR, RGB, and RGBD data to aid in long term loop closures during Simultaneous Localization and Mapping (SLAM). I am using modern Deep Learning techniques, such as Generative Adversarial Networks, to extract robust features from large amounts of unlabeled data. </p>
    </article>
    <article>
        <header>
            <h1>Autonomous Robotic Snowplow</h1>
            <span><time>2013 to Present</time></span>
        </header>
        <p>Led team to a 2nd place finish in the ION Autonomous Snowplow Competition. Focused on sensor fusion and localization techniques, including an Extended Kalman Filter and Ultra-Wideband sensors. Developed in C++/Python using the Robot Operating System (ROS) framework. Also, redesigned steering mechanism, actuated plow, and power system, and path planning and steering algorithms. </p>
    </article>
    <article>
        <header>
            <h1>Neural Controller for Legged Locomotion</h1>
            <span><time>2011 to 2013</time></span>
        </header>
        <p>Built a robotic cockroach leg and neural controller to study biologically hypothesized neural control networks for joint coordination. Focus was on the dynamics of networks of simulated neurons, central pattern generators, and force feedback. Worked directly with biologists to hypothesize neural connections. </p>
    </article>
    <article>
        <header>
            <h1>Amphibious Whegs® Robot</h1>
            <span><time>2015 to Present</time></span>
        </header>
        <p>Design, built, and tested a rugged robot, which utilized wheel-legs, at tail, and a sealed body to climb obstacles up to 48cm, traverse uneven terrain, and move freely underwater. </p>
    </article>
    <article>
        <header>
            <h1>Autonomous Vehicle Localization Testing</h1>
            <span><time>2015 to Present</time></span>
        </header>
        <p>Helped the robotics division of the National Institute of Standards and Technology install a multi-acre Ultra-Wideband localization system to test the localization systems of autonomous vehicles. </p>
    </article>
    <article>
        <header>
            <h1>Search and Rescue Robot Testing</h1>
            <span><time>2015 to Present</time></span>
        </header>
        <p>Helped the robotics division of the National Institute of Standards and Technology administer testing for search and rescue robots to instruct in a local county robot procurement. </p>
    </article>
</section>
