<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <header>
            <h1>Software Development</h1>
        </header>
        <p>
            <em>ROS; GIT; C/C++; Embedded C; Matlab; Python; LabVIEW; VHDL/Verilog; HTML/CSS</em>
        </p>
        <header>
            <h1>Mechanical Design</h1>
        </header>
        <p>
            <em>Solidworks (certificate); AutoCAD; MasterCAM</em>
        </p>
        <header>
            <h1>Machining and Fabrication</h1>
        </header>
        <p>
            <em>CNC; Mill; Lathe; 3D Printer; Laser Cutter; PCB Design (Eagle)</em>
        </p>
        <header>
            <h1>Languages</h1>
        </header>
        <p>
            <em>German – conversational; Spanish - Basic</em>
        </p>
    </article>
</section>